<div class="resources-nav">
  <%= link_to 'Exchanges', exchanges_path, id: "exchanges", class:"resources-nav-link" %>
  <%= link_to 'Web Wallets', wallets_path, id: "wallets", class:"resources-nav-link" %>
  <%= link_to 'YouTube', youtube_path, id: "youtube", class:"resources-nav-link" %>
</div>
