<% @ressources.each do |ressource| %>
  <div class="pilot-card" style="margin: 30px auto">
    <div class="d-inline-flex align-items-center">
      <!--<%= cl_image_tag ressource.photo.key, height: 70, width: 70, crop: :fill %>-->
      <%= link_to cl_image_tag(ressource.photo.key, height: 70, width: 70, crop: :fill), ressource.link, target: "_blank" %>
      <div class="px-4">
        <h3><%= ressource.name %></h3>
        <p><%= ressource.description %></p>
      </div>
    </div>
  </div>
<% end%>
