<div class="py-5"></div>
<div class="container py-5" style="min-height: 83vh">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="form-night">
        <h1>Add a ressource</h1>
        <%= simple_form_for @ressource do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.submit 'Add a ressource', class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
