
.home-card-product {
  overflow: hidden;
  height: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin-bottom: 60px;
}

.home-card-product img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}


.home-card-product p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.home-card-product .home-card-product-infos {
  padding: 16px;
}
