<%# <div class="footer footer-bg">
<i class="fab fa-creative-commons"> Crypto pilot 2021 all rights reseved</i>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-discord"></i></a>
  </div>
</div> %>
<div class="footer">
  <p>This project was developed with <i id="coffee" class="fas fa-mug-hot"></i> by dedicated</p>
  <a href="#"> Le Wagon students </a>
</div>


<!--<div class="footer-secondary">
    <a href="https://www.linkedin.com/in/paul-lemercier/"><i class="fab fa-linkedin">Paul Le Mercier</i></a>
    <a href="https://www.linkedin.com/in/moussa-dram%C3%A9-b39048173/"><i class="fab fa-linkedin">Moussa Dramé</i></a>
    <a href="https://www.linkedin.com/in/nathan-fitger-7b9783224/"><i class="fab fa-linkedin">Nathan Fitger</i></a>
    <a href="https://www.linkedin.com/in/jeremy-melieres/"><i class="fab fa-linkedin"> Jérémy Mélières</i></a>
  </div>-->
