<div class="banner">
  <div id="illustration">
    <div class="container">
      <h1>Welcome to  <strong>Cryptopilot</strong></h1>
      <br>
      <p></p>
      <span id="banner-type-text"></span>
      </p>
      <br>
      <% if !user_signed_in? %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-flat" %>
      <% else %>
      <%= link_to "My investments", dashboards_path, class:"btn btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
