.btn-blue {
  color: white;
  background-color: #1E51E0;
  border: 1px solid #1E51E0;
  padding: 5px 25px;
  border-radius: 4px;
  margin-left: 30px;
  transition: 0.5s;
}

.btn-blue:hover {
  color: white;
  box-shadow: 0px 0px 20px #2959dd;
}

.btn-flat {
  color: white;
  background-color: #EABF17;
  border: 1px solid #EABF17;
  padding: 5px 25px;
  border-radius: 4px;
  transition: 0.5s;
}

.btn-flat:hover {
    color: white;
    box-shadow: 0px 0px 20px #e4c23d;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
  }

  .btn-add {
    color: white;
    padding: 5px 25px !important;
    border-radius: 4px;
    background: #8a8888;
    border-color: #8a8888;
    transition: 0.5s;
}

.btn-add:hover {
    color: white;
    background: #8a8888;
    border-color: #8a8888;
    box-shadow: 0px 0px 30px #b6b4b4;
}

.btn-primary {
  border-radius: 4px;
}
