.show-transac {
  margin-top: 120px;
}

.table-tx{
  width: 100%;
  text-align: center;
}

.card-transac {
  overflow: hidden;
  width: 800px;
  background-color: #2B2D2E;
  box-shadow: 0 0 17px rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
  border: solid 1px rgb(105, 105, 105);
}

.card-show-infos {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: green;
  margin-left: 10px;
}

.paragraphe {
  display: flex;
}
