.footer {
  display: flex;
  // justify-content: space-between;
  padding: 20px 50px;
  color: white;
  height: 100px;
  width: 100vw;

}

.footer-secondary {
  padding: 0px 10px;
  text-decoration: none;
  list-style-type: none;
  color: white;
}

.footer h1 {
  font-size: 15px;
}

.footer-bg {
  background-color: #181a1a;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  // opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #A9A9A9;
}

.footer-copyright {
   font-size: 13px;
}
