.navbar-lewagon {
  justify-content: space-between;
  background: #243A64;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.button {
  color: white;
  text-decoration: none;
}

.box {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
