.navbar-lewagon {
  justify-content: space-between;
}

.navbar-bg {
  background-color: #181a1a;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-buttons {
  color: #D0D0D0;
  text-decoration: none;
}

.nav-active {
  color: #EABF17;
  transition: 0.5s;
}

.nav-active:hover {
  color: yellow !important;
}

.navbar-buttons:hover {
  color: white;
  text-decoration: none;
  text-shadow: #d1d1d1;
}

.box {
  width: 450px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-secondary {
    color: white;
    padding: 5px 25px !important;
    border-radius: 4px;
    background: #8a8888;
    border-color: #8a8888;
    transition: 0.5s;
}

.btn-secondary:hover {
    color: white;
    background: #8a8888;
    border-color: #8a8888;
    box-shadow: 0px 0px 30px #b6b4b4;
}

.avatar {
  width: 40px;
}

.user-name {
 align-items: center;
 display: flex;

 p {
   margin-bottom: 0;
   margin-right: 10px;
   color: white;
 }
}

.dropdown-menu{
  background: black;
}

.dropdown-item{
  color: white;
}
