.navbar-lewagon {
  justify-content: space-between;
  background: #243A64;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.button {
  color: #D0D0D0;
  text-decoration: none;
}

.button:hover {
  color: white;
  text-decoration: none;
}

.box {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-primary {
    background-color: #EABF17 !important;
    border-color: #EABF17 !important;
    padding: 5px 20px;
}

.btn-secondary {
    background-color: #A9A9A9 !important;
    border-color: #A9A9A9 !important;
    padding: 5px 25px;
}

.btn-primary:hover {
    background-color: #BB9812!important;
    border-color: #BB9812 !important;
}

.btn-secondary:hover {
    background-color: #888888 !important;
    border-color: #888888 !important;
}
.avatar{
  width: 40px;
}
.user-name{
 align-items: center;
 display: flex;

 p{
   margin-bottom: 0;
   margin-right: 10px;
   color: white;
 }
}
