.search-card{
  height: 50%;
  padding: 30px 10px;
  width: 60%;
  background-color: #2B2D2E;
  justify-content: space-between;
  border: solid 1px rgb(105, 105, 105);
  color: white;
  border-radius: 4px;
  align-items: center;
}

.search-card .inside-form{
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
}

.search-card .inside-form{
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
}
