.select2-results__option{
  color: black;
}

img.img-flag {
    margin: 0!important;
    display: inherit!important;
    height: 20px;
    width: 20px;
}

.select2-selection__rendered{
  height: 38px;
  width: 170px;
}
